

/* ==========================================================================
   Author's custom styles
   ========================================================================== */






#banner{
	background:url("../img/gsmithsb.jpg");
	background-size: 100%;
	background-position:center; 
}










