/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#banner{
	background:url("../img/gsmithsb.jpg");
	background-size: 100%;
	background-position:center; 
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}
p{
    font-family: 'Open Sans';
    font-weight: 300;
}
.jumbotron h1,h1,h2,h3,h4,h5,.navbar-brand{
    font-family: 'Futura', 'Montserrat';
}
.goldsmiths{
    font-family: 'Montserrat';
    color: #caab72;
}
h1,h2,h3,h4,h5,.navbar-brand{
    text-transform: uppercase;
}

.share{
	font-size:25px;
	margin-right: 8px;
}

.fa-black{
	color:black;
}
